/* Patient.css */
.patient-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 250px; 
}

.logo img {
  max-height: 80px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #2c3e50; /* Dark Blue */
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #3498db; /* Highlight Blue on hover */
}

.actions {
  padding: 20px 0;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  transition: background-color 0.3s ease-in-out;
  margin-right: 10px;
}

.request-appointment {
  background-color: #3498db; /* Blue */
}

.button:hover {
  background-color: #2c3e50; /* Dark Blue on hover */
}

.appointments, .cabins, .wards {
  padding: 20px 0;
}

.appointments table, .cabins table, .wards table {
  width: 100%;
  border-collapse: collapse;
}

.appointments th, .cabins th, .wards th {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

.appointments td, .cabins td, .wards td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.appointments tr:nth-child(even), .cabins tr:nth-child(even), .wards tr:nth-child(even) {
  background-color: #f2f2f2;
}

.appointments tr:hover, .cabins tr:hover, .wards tr:hover {
  background-color: #ddd;
}

.footer {
  text-align: center;
  padding: 20px 0;
  background-color: #ecf0f1; /* Light Grey */
}

.footer p {
  color: #2c3e50; /* Dark Blue */
}
