/* Signup.css */

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/339/991/desktop-wallpaper-hospital-logo-hospital.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  overflow: hidden;
}

.signup-content {
  position: relative;
  width: 450px;
  padding: 40px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: sans-serif;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  animation: fadeInUp 0.8s ease-in-out;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.form-group {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
}

.form-control {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #333;
  color: #8c8c8c;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.form-control::placeholder {
  color: #8c8c8c;
}

.form-control:focus {
  background-color: #333;
  border-bottom: 1px solid #e50914;
  color: #000;
}

.btn-primary {
  width: 100%;
  padding: 15px;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1.2rem;
}

.btn-primary:hover {
  background-color: #b20710;
}

.field-error {
  position: absolute;
  bottom: -18px;
  left: 0;
  color: #ff3333;
  font-size: 0.8rem;
}

.popup-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e50914;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  display: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Added box shadow for better visibility */
}

.popup-message.active {
  display: block;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
